@model UploadTransaction.Models.TransactionUploadFile
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3 class="display-5">Welcome to teachnical testing.</h3>
        </div>
        <hr />
    </div>

    <div class="col-md-12">
        <div class="text-center">
            <form asp-controller="Home" id="form-upload" asp-action="Index" enctype="multipart/form-data" method="post">

                <div class="file-upload" style="padding-top: 0px;">

                    <div class="image-upload-wrap">
                        <input class="file-upload-input" id="fileupload" asp-for="File" type="file" onchange="readURL(this);" accept="text/xml, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        <div class="drag-text">
                            <h3>Drag and drop a file or select add file</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="~/images/import.png" width="100" alt="your image"  /><br />
                        <span class="image-title">Uploaded Image</span>
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
                        </div>
                    </div>
                    <button class="file-upload-btn" type="button" id="submit-btn" style="margin-top:10px">Upload</button>

                </div>
            </form>
        </div>
    </div>
    @if (Model != null && Model.UploadTransactions != null && Model.UploadTransactions.Any())
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Transaction Raws</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover" style="width:100%" id="data-table">
                        <thead>
                            <tr>
                                <th>TransactionId</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Transaction Date</th>
                                <th>Status</th>
                                <th>Remark Error</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.UploadTransactions) // assuming `Model` is a list
                            {

                                var errors = item.GetErrorValidateModelMessage();
                                var erroMessage = errors != null && errors.Any() ? string.Join(",", errors) : "";


                                <tr class="@(!string.IsNullOrEmpty(erroMessage) ? "alert-danger" : "")">
                                    <td>@item.TransactionId</td>
                                    <td>@item.Amount</td>
                                    <td>@item.CurrencyCode</td>
                                    <td>@item.TransactionDate</td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (errors != null && errors.Any())
                                        {
                                            <ul>
                                                @foreach (var error in errors)
                                                {
                                                    <li>@error</li>
                                                }
                                            </ul>
                                        }
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>





@section Scripts{


    <script>

        $(document).ready(function () {


            if ($('#data-table').length > 0) {
                $('#data-table').DataTable();
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    // $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
            $('#fileupload').val('');
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });



        $('#submit-btn').click(function (e) {

            $('body').loadingModal({ text: 'Uploading ...', 'animation': 'wanderingCubes', opacity: '0.6' });
            $('#form-upload').submit();
            e.preventDefault();
            return false;
        });

    </script>

}
